**Nome:** João Henrique Silva Delfino

# **Exercícios de Python**

Esta é uma lista de exercícios sobre Listas e Dicionários em Python, a qual  visa ajudar-los a aprender e praticar operações de lista e dicionários para melhorar seu conhecimento Python. Todas as perguntas são testadas em Python 3. 

Os seguintes tópicos sobre listas são apresentados:

* Operações e manipulações da lista Python
* Funções de lista Python
* Slicing da lista Python
* Compreensão da lista Python
* Operações e manipulações de dicionário Python
* Funções de dicionário Python
* Compreensão do dicionário Python 

Caso tenha algum dúvida, entrar em contato: souza.m.allan@gmail.com

# **Listas**

## **Inverta a sequência de um lista**

In [5]:
lista_00 = [100, 200, 300, 400, 500]

#########################################

# Sem alterar a lista
print(lista_00[::-1])
# Alterando a lista
lista_00.sort()
lista_00.reverse()
print(lista_00)

#########################################

[500, 400, 300, 200, 100]
[100, 200, 300, 400, 500]
[500, 400, 300, 200, 100]

##### Resultado esperado:
<pre>
[500, 400, 300, 200, 100]
</pre>

## **Concatene duas listas pelos índices**

In [13]:
lista_01 = ['E', 'm', 'cha', 'Jo']
lista_02 = ['u', 'e', 'mo', 'ão']

#########################################

lista = []
for i in range(len(lista_01)):
    lista.append(lista_01[i]+lista_02[i])
print(lista)

#########################################

['Eu', 'me', 'chamo', 'João']

##### Resultado esperado:
<pre>
['Eu', 'me', 'chamo', 'João']
</pre>

## **Dada uma lista de números. Transforme cada item da lista em seu quadrado**

In [15]:
lista_03 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#########################################

# Sem alterar a lista em si
lista = []
for i in range(len(lista_03)):
    lista.append(lista_03[i]**2)
print(lista)

# Aterando a lista diretamente
for i in range(len(lista_03)):
    lista_03[i]*=lista_03[i]
print(lista_03)

#########################################

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##### Resultado esperado:
<pre>
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
</pre>

## **Dada duas listas. Iteresobre elas simultaneamente, de modo que a lista_04 exiba os itens na ordem original e a lista_05 na ordem inversa**

In [20]:
lista_04 = [10, 20, 30, 40, 50]
lista_05 = [100, 200, 300, 400, 500]

#########################################

for i in range(len(lista_04)):
    print(lista_04[i],lista_05[-i-1])

#########################################

10 500
20 400
30 300
40 200
50 100

##### Resultado esperado:
<pre>
10 500
20 400
30 300
40 200
50 100
</pre>

## **Remova a string vazia da listas de strings**

In [25]:
lista_06 = ['José', 'Maria', 'Paulo', '', 'Pedro', '', 'Ana']

#########################################

while '' in lista_06:
    lista_06.remove('')
print(lista_06)

#########################################

['José', 'Maria', 'Paulo', 'Pedro', 'Ana']

##### Resultado esperado:
<pre>
['José', 'Maria', 'Paulo', 'Pedro', 'Ana']
</pre>

## **Adicione o número 7000 após o número 6000 na seguinte lista**

In [40]:
lista_07 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

#########################################

lista_07[2][2].append(7000)
print(lista_07)

#########################################

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [41]:
list_07[2][2].insert(2, 7000)
list_07

[10, 20, [300, 400, [5000, 6000, 7000, 7000, 7000, 7000], 500], 30, 40]

##### Resultado esperado:
<pre>
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
</pre>

## **Dada uma lista aninhada, adicione a sub-lista ["h", "i", "j"] na posição correta**

In [42]:
lista_08  = ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
sub_lista = ['h', 'i', 'j']

#########################################

lista_08[2][1][2].extend(sub_lista)
print(lista_08)

#########################################

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

##### Resultado esperado:
<pre>
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']
</pre>

## **Dada uma lista, encontre o valor 20 e, se estiver presente, substitua-o por 200. Atualize apenas a primeira ocorrência do valor**

In [43]:
lista_09 = [5, 10, 15, 20, 25, 50, 20]

#########################################

if 20 in lista_09:
    lista_09[lista_09.index(20)] = 200
print(lista_09)

#########################################

[5, 10, 15, 200, 25, 50, 20]

##### Resultado esperado:
<pre>
[5, 10, 15, 200, 25, 50, 20]
</pre>

# **Dicionários**

## **Converta as seguintes listas para dicionários**

In [47]:
chaves  = ['Dez', 'Vinte', 'Trinta']
valores = [10, 20, 30]

#########################################

# Utilizando a função zip
dicionario = dict(zip(chaves, valores))
print(dicionario)

#########################################

{'Dez': 10, 'Vinte': 20, 'Trinta': 30}

##### Resultado esperado:
<pre>
{'Dez': 10, 'Vinte': 20, 'Trinta': 30}
</pre>

## **Junte os seguintes dois dicionários Python em um só**

In [62]:
dicionario_01 = {'Dez' : 10, 'Vinte' : 20, 'Trinta' : 30}
dicionario_02 = {'Trinta' : 30 , 'Quarenta' : 40, 'Cinquenta' : 50}

#########################################

dicionario_01.update(dicionario_02)
print(dicionario_01)

#########################################

{'Dez': 10, 'Vinte': 20, 'Trinta': 30, 'Quarenta': 40, 'Cinquenta': 50}

##### Resultado esperado:
<pre>
{'Dez': 10, 'Vinte': 20, 'Trinta': 30, 'Quarena': 40, 'Cinquenta': 50}
</pre>

## **Acesse o valor da chave "história" do dicionário abaixo**

In [53]:
dicionario_03 = { 
   "Turma":{ 
      "Aluno":{ 
         "Nome": "João",
         "Notas": { 
            "Física"  : 70,
            "História" : 80
         }
      }
   }
}

#########################################

print(dicionario_03['Turma']['Aluno']['Notas']['História'])

#########################################

80

##### Resultado esperado:
<pre>
80
</pre>

## **Inicializar dicionário com valores padrão**

In [63]:
empregados     = ['Ana', 'Maria', 'João']
valores_padrao = {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000}

#########################################
dicionario = {}

# Não está sendo passada uma cópia do dicionario de valores padrão
for e in empregados:
    dicionario[e] = valores_padrao

print(dicionario)

#########################################

{'Ana': {'Cargo': 'Desenvolvedor', 'Salário': 8000}, 'Maria': {'Cargo': 'Desenvolvedor', 'Salário': 8000}, 'João': {'Cargo': 'Desenvolvedor', 'Salário': 8000}}

##### Resultado esperado:
<pre>
{ 'Ana': {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000},
  'Maria': {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000},
  'João': {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000}
}
</pre>

## **Crie um novo dicionário extraindo as seguintes chaves de um dicionário abaixo**

In [66]:
dicionario_04 = {
  "Nome"   : "Maria",
  "Idade"  : 25,
  "Salário": 8_000,
  "Cidade" : "São Paulo"
  
}

chaves_para_extrair = ['Nome', 'Salário']

#########################################

for chave in chaves_para_extrair:
    dicionario[chave] = dicionario_04[chave]
    
print(dicionario)

#########################################

{'Nome': 'Maria', 'Salário': 8000}

##### Resultado esperado:
<pre>
{'Nome': 'Maria', 'Salário': 8000}
</pre>

## **Exclua um conjunto de chaves de um dicionário**

In [67]:
dicionario_05 = {
  "Nome"   : "Maria",
  "Idade"  : 25,
  "Salário": 8_000,
  "Cidade" : "São Paulo"
  
}

chaves_para_excluir = ['Nome', 'Salário']

#########################################

for chave in chaves_para_excluir:
    del dicionario_05[chave]

print(dicionario_05)

#########################################

{'Idade': 25, 'Cidade': 'São Paulo'}

##### Resultado esperado:
<pre>
{'Cidade': 'São Paulo', 'Idade': 25}
</pre>

## **Verifique se o valor 200 existe no dicionário**

In [4]:
dicionario_06 = {'a' : 100, 'b' : 200, 'c' : 300}

#########################################

print(200 in dicionario_06.values()) 

#########################################

True

##### Resultado esperado:
<pre>
True
</pre>

## **Renomeie a chave Cidade para localização no seguinte dicionário**

In [5]:
dicionario_07 = {
  "Nome"   : "Maria",
  "Idade"  : 25,
  "Salário": 8_000,
  "Cidade" : "São Paulo"
  
}

#########################################

valor = dicionario_07.pop('Cidade')
dicionario_07['Localização'] = valor
print(dicionario_07)

#########################################

{'Nome': 'Maria', 'Idade': 25, 'Salário': 8000, 'Localização': 'São Paulo'}

##### Resultado esperado:
<pre>
{
  "Nome": "Maria",
  "Idade":25,
  "Salário": 8000,
  "Localização": "São Paulo"
}
</pre>

## **Obtenha a chave de um valor mínimo do seguinte dicionário**

In [13]:
dicionario_08 = {
  'Física'    : 82,
  'Matemática': 65,
  'História'  : 75
}

#########################################

menor = 1000000000
saida = ''
# Usando loop
for chave,valor in dicionario_08.items():
    if valor < menor:
        menor = valor
        saida = chave
print(saida)

# Usando a função min do python: https://www.geeksforgeeks.org/python-min-function/
chave = min(dicionario_08, key=dicionario_08.get)
print(chave)

#########################################

Matemática
Matemática

##### Resultado esperado:
<pre>
Matemática
</pre>

## **Alterar o salário de João para 8500 em um determinado dicionário Python**

In [15]:
dicionario_09 = {
     'Empregado_1': {'Nome': 'Ana',   'Salário': 7500},
     'Empregado_2': {'Nome': 'Maria', 'Salário': 8000},
     'Empregado_3': {'Nome': 'João',  'Salário': 6500}
}

#########################################

dicionario_09['Empregado_3']['Salário'] = 8500
print(dicionario_09)

#########################################

{'Empregado_1': {'Nome': 'Ana', 'Salário': 7500}, 'Empregado_2': {'Nome': 'Maria', 'Salário': 8000}, 'Empregado_3': {'Nome': 'João', 'Salário': 8500}}

##### Resultado esperado:
<pre>
'Empregado_1': {'Nome': 'Ana',   'Salário': 7500},
'Empregado_2': {'Nome': 'Maria', 'Salário': 8000},
'Empregado_3': {'Nome': 'João',  'Salário': 8500}
</pre>